$white:         #FFF !default;
$red:           #FF5C5C !default;
$pink:          #FFE7E5 !default;
$teal:          #1ED9B8 !default;
$blue:          #C8EDE7 !default;
$light-blue:    #E5FFFA !default;
$light-grey:    #666 !default;
$dark-grey:     #222 !default;
$black:         #000 !default;

$primary:       $black !default;
$success:       $teal !default;

$danger:        $red !default;

// typography

$font-family-base: 'Catamaran', sans-serif !default;
$font-family-highlight:  'Domine', sans-serif !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 3 !default;     // 48px
$h2-font-size:                $font-size-base * 2.25 !default;     // 32px
$h3-font-size:                $font-size-base * 2 !default;     // 32px
$h4-font-size:                $font-size-base * 1.5 !default;   // 24px
$h5-font-size:                $font-size-base * 1.25 !default;  // 20px
$h6-font-size:                $font-size-base * 1.125 !default; // 18px

$headings-line-height:        1.25 !default;
$headings-font-family:        $font-family-highlight !default;
$headings-font-weight:        bold !default;
$headings-color:              $black !default;

$small-font-size:             .75rem !default;

// buttons

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         4.5rem !default;
$input-btn-font-family:       $font-family-highlight !default;
$input-btn-font-size:         1.25rem !default;
$input-btn-line-height:       1.5 !default;

$input-btn-focus-box-shadow:  none !default;

$btn-border-radius:           0 !default;
$btn-border-radius-lg:        0 !default;
$btn-border-radius-sm:        0 !default;

$btn-font-weight:             bold !default;

$btn-border-width:            4px !default;

$btn-box-shadow:              none !default;

// nav

$nav-link-padding-y:          .3125rem !default;
$navbar-padding-y:            0.6875rem;

$navbar-nav-link-padding-x:   1rem !default;
$navbar-light-color:          $black !default;
$navbar-light-hover-color:    $dark-grey !default;
$navbar-light-active-color:   $black !default;

$navbar-toggler-padding-y:    0 !default;
$navbar-toggler-padding-x:    0 !default;

// tabs

$nav-tabs-border-color:             transparent !default;
$nav-tabs-border-width:             0 !default;
$nav-tabs-border-radius:            0 !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-color:        $black !default;
$nav-tabs-link-active-bg:           $white !default;
