$white:      #FFF !default;
$red:        #FF5C5C !default;
$pink:       #FFE7E5 !default;
$teal:       #1ED9B8 !default;
$blue:       #C8EDE7 !default;
$light-blue: #E5FFFA !default;
$light-grey: #666 !default;
$dark-grey:  #222 !default;
$black:      #000 !default;

$primary:       $black !default;
$secondary:     $white !default;
$success:       $teal !default;
$danger:        $red;

$font-family-base: 'Catamaran', sans-serif !default;
$font-family-highlight:  'Domine', sans-serif !default;

body {
  color: $black;
  overflow-x: hidden;
}

.label {
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: .75rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

strong {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
}

.btn {
  box-shadow: none !important;
  text-transform: none !important;
  &.btn-primary {
    background: $black !important;
    color: $white !important;
  }
  &.btn-success {
    background: $teal !important;
    color: $black !important;
  }
  &.btn-outline-primary {
    background: $white !important;
    border-color: $black !important;
    color: $black !important;
  }

  :disabled, .disabled {
    &.btn-primary {
      color: rgba($white, 0.2);
    }
    &.btn-success {
      color: rgba($black, 0.2);
    }
  }
  &.btn-double-success {
    box-shadow: -12px -10px rgba($success, 0.1);
    transform: translate(6px, 5px);
  }
  &.btn-double-primary {
    box-shadow: -12px -10px rgba($primary, 0.2);
    transform: translate(6px, 5px);
  }
  &:hover, &:active, &.active {
    &.btn-primary {
      color: $white;
      background: $primary !important;
      border-color: $primary !important;
    }
    &.btn-success {
      color: $black;
      background: $success !important;
      border-color: $success !important;
    }
  }

  &.btn-link {
    text-decoration: underline;
  }
}

.alert {
  border-radius: 0;
  color: $black;
  &.alert-success {
    border:2px solid $success;
  }
  &.alert-danger {
    border: 2px solid $danger;
  }
}

.navbar {
  box-shadow: none;
}

.nav-item .btn {
  border: 3px solid $black !important;
  font-size: 1rem !important;
  padding: .0625rem .5rem;
  margin: 0;
}

//.nav-item.active {
//  .nav-link {
//    padding-top: 2px;
//    padding-bottom: 2px;
//    border: 3px solid $black;
//  }
//}

.navbar-nav {
  flex-direction: row !important;
}

.nav.nav-tabs {
  background: #fff;
  justify-content: center;
}

.nav-tabs .nav-link {
  border-top: 2px solid transparent;
  font-family: $font-family-highlight;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: $black;
  font-weight: bold;
}

.md-form .form-control {
  color: $dark-grey;
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 600 !important;

  text-align:right;
}

.md-form .form-control:focus {
  border-color: $black !important;
  box-shadow: none !important;

  text-align:left;
}

.md-form label {
  color: rgba(0,0,0,0.3);
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 600 !important;
  &.active {
    color: $dark-grey !important;
    font-size: .5625rem;
    font-weight: normal !important;
  }
}



