<template>
    <div class="container content-page">
        <div class="page-header row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="pr-5 pl-5 pr-md-0 pl-md-0">
                    <h2>Contact us</h2>
                    <p>
                        Have a question? Don’t look further.
                    </p>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper row  pl-0 pr-0 pl-md-5 pr-md-5 ">
            <div class="col-12 col-md-8">
                <div class="contact-form p-4">
                    <h5>We will come back to you in 24 hours.</h5>
                    <p class="mb-4"><small>For urgent inquires give us a call.</small></p>

                    <form>
                        <div class="row mb-2">
                            <div class="col-sm-12 col-md-6">
                                <mdb-input type="text" label="First name" />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <mdb-input type="text" label="Last name" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12 col-md-6">
                                <mdb-input type="text" label="Phone number" />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <mdb-input type="text" label="Email address" />
                            </div>
                        </div>

                        <mdb-input label="Your message"></mdb-input>
                        <div class="text-right">
                            <button type="button" class="btn btn-link">Clear</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="quick-contact p-4 text-center text-md-left">
                    <h6>Are you in a hurry?</h6>

                    <div class="pb-2">
                        <i class="h-icon icon-phone mr-2"></i>
                        <span>+44 329 82 23 444</span>
                    </div>

                    <div class="d-none d-md-block">
                        <div class="logo">
                            <img src="img/logo-footer.png">
                        </div>

                        <h5 class="mt-4 mb-3">Homemade Ltd.</h5>

                        <div class="muted">
                            <small>
                                Home Made, Pennine South
                                <br/>
                                19 Hatfield
                                <br/>
                                London
                                <br/>
                                SE1 8DJ
                                <br/>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-wrapper row text-center pt-4 pb-5 mb-0 mb-md-5">
            <div class="col">
                <h4>People like you said</h4>
                <p class="mb-2"><small>5 star rating based on 99+ reviews on Trustpilot</small></p>
                <div class="text-center mb-3">
                    <strong class="align-top mr-2">Trustpilot</strong>
                    <img src="img/five-stars.png">
                </div>

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
  import { mdbInput } from "mdbvue";

  export default {
    name: 'Contact',
    components: { mdbInput },
    data: () => {
      return {
        firstName: ''
      }
    }
  }
</script>

<style scoped lang="scss">

    .content-page {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .page-header {
            background: #F7F7F7;
            font-size: .875rem;
            padding-top: 50px;
            padding-bottom: 60px;
            @media (min-width: 576px) {
                padding-bottom: 180px;
            }
            text-align: center;

            p {
                line-height: 1.5625rem;
            }
        }
        .page-content-wrapper {
            margin-top: -40px;
            @media (min-width: 576px) {
                margin-top: -140px;
                margin-bottom: 90px;
            }
        }
        .contact-form {
            background: #fff;
        }
        .quick-contact {
            background: #000;
            color: #fff;
            h5, h6 {
                color: #fff;
            }
            .muted {
                color: rgba(255,255,255,0.8);
            }
            .logo {
                margin-top: 35px;
            }
        }
        .slider-wrapper {
            background: #E5FFFA;
            small {
                font-size: .875rem;
            }
        }
    }

</style>