<template>
    <div class="container content-page">
        <div class="page-header row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="pr-4 pl-4 pr-md-0 pl-md-0">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper pl-0 pr-0 pl-md-5 pr-md-5 ">
        </div>

    </div>
</template>

<script>
  export default {
    name: 'Faq'
  }
</script>

<style scoped lang="scss">

    .content-page {
        .page-header {
            background: #F7F7F7;
            font-size: .875rem;
            padding-top: 50px;
            padding-bottom: 60px;
            @media (min-width: 576px) {
                padding-bottom: 180px;
            }

            text-align: center;

            p {
                line-height: 1.5625rem;
            }
        }
        .page-content-wrapper {
            margin-top: -40px;
            @media (min-width: 576px) {
                margin-top: -140px;
            }
        }
    }

</style>