<template>
    <div class="container">
        <div class="hero">
            Landing
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Landing'
  }
</script>

<style scoped lang="scss">

</style>