<template>
    <div class="container content-page">
        <div class="page-header row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="pr-4 pl-4 pr-md-0 pl-md-0">
                    <h2>Legal notes</h2>
                    <p>
                        This website is the property of Home Made UK Properties Limited, trading as ‘Home Made’,
                        of 167 City Road, London, EC1V 1AW, registered company number 10103015.
                        By using this website you agree to and consent to and are bound by the following terms and conditions:
                    </p>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper pl-0 pr-0 pl-md-5 pr-md-5 ">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Jump to</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Copyright</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disclaimer</a>
                </li>
            </ul>
            <div class="content">
                <div class="legal-content pt-5 pl-4 pr-4 pb-5">
                    <div id="copyright">
                        <h4 class="text-center mb-4">Copyright</h4>
                        <p>
                            All content and design of this website is protected by copyright, trademarks and other intellectual property rights the property of Home Made or issued under licence from third party copyright owners. You may print or download such material in electronic form on your local hard disk for your personal, non-commercial use. You may not alter or otherwise make any changes to any material that you print or download, including, without limitation, removing any copyright or proprietary notices. All other uses are prohibited including, without limitation, distributing, reproducing, modifying or copying, or using for commercial purposes any of the materials or contents of this site.
                        </p>
                    </div>
                    <hr class="mt-5 mb-5"/>
                    <div id="disclaimer">
                        <h4 class="text-center mb-4">Disclaimer</h4>
                        <div>
                            <strong>Disclaimer</strong>
                            <p>Home Made takes all reasonable care to ensure that the information contained on this website is accurate, however, we cannot guarantee its accuracy and we reserve the right to change the information on this website (including these terms and conditions) at any time. You must therefore check these terms and conditions for any such changes each time you visit this website.</p>
                            <p>The description of the properties offered are for information purposes only. The information and descriptions contained herein are not intended to be complete descriptions of all the features. While we endeavour to ensure that the information and description is accurate and up-to-date we cannot guarantee this. Any reliance on the information contained is at your own risk.</p>
                            <p>While we take every care to ensure that the standard of the website remains high and to maintain the continuity of the website, errors, omissions, interruptions of service and delays may occur at any time. In addition, we make no representations or warranties about the accuracy, completeness, and freedom from viruses, availability, reliability or suitability for any purpose of the information and related graphics published on the website (including all texts, advertisements, links or other items) which may contain technical inaccuracies and typographical errors.</p>
                            <p>Nothing on this website shall be deemed to constitute financial advice and in the event that you wish to have any such advice, you should contact a financial advisor.</p>
                            <strong>Copyright, Trade Mark and other Intellectual Property Rights</strong>
                            <p>The copyright and all other intellectual property rights in the Home Made website including all text, graphics, photos, code, files and links belong to Home Made and the Home Made website may not be reproduced, transmitted or stored in whole or in part without Home Made's prior written consent. However, you may print out, save or download individual selections for your own personal, private and non-commercial use.</p>
                            <strong>Applicable Law</strong>
                            <p>Any disputes arising from the use of this website shall at all times be governed by the laws of England and Wales and the parties shall submit to the exclusive jurisdiction of the English Courts.</p>
                            <strong>Force Majeure</strong>
                            <p>We shall not be liable to you for any breach of conditions of use or any failure to provide or delay in us providing our services through our website resulting from any event or circumstance beyond our reasonable control including (without limitation) strikes, lock-outs and other industrial disputes, break-down of systems or network access, fire, explosion or accident failure of any third-party telecommunications or service provider.</p>
                            <strong>Account registration</strong>
                            <p>When you register with us you are stating that you are eighteen [18] years of age or over.</p>
                            <p>You agree that any information you provide to us about yourself upon registration or at any other time will be true, accurate and complete and that you will ensure that this information is kept accurate and up-to-date at all times.  Details of the information that we collect and how this is used is contained within our Privacy Policy.</p>
                            <strong>Other Applicable Terms</strong>
                            <p>These terms of use refer to the following additional terms, which also apply to your use of the Home Made website:</p>
                            <p>Our Privacy Policy, which sets out the terms on which we process any personal data we collect from you, or that you provide to us.</p>
                            <p>Our Cookies Policy, which sets out the way in which we use Cookies on the Home Made website.</p>
                            <strong>How to contact Home Made</strong>
                            <p>We welcome your views. If you would like to contact us with any queries or comments please send an e-mail to <a href="mailto:info@home-made.com" target="_blank">info@home-made.com</a>.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
  export default {
    name: 'Legal'
  }
</script>

<style scoped lang="scss">

    .content-page {
        .page-header {
            background: #F7F7F7;
            font-size: .875rem;
            padding-top: 50px;
            padding-bottom: 60px;
            @media (min-width: 576px) {
                padding-bottom: 180px;
            }

            text-align: center;

            p {
                line-height: 1.5625rem;
            }
        }
        .page-content-wrapper {
            margin-top: -40px;
            @media (min-width: 576px) {
                margin-top: -140px;
            }
        }
        .legal-content {
            background: #fff;
            color: #707070;
            line-height: 2rem;
        }
    }

</style>