<template>
    <footer>
        <div class="container footer-content">
            <div class="row">
                <div class="col-12 col-md-4 order-2 order-md-1 text-center text-md-left footer-info">
                    <div class="logo">
                        <img src="img/logo-footer.png">
                    </div>
                    <h5 class="mt-4 mb-3">Homemade Ltd.</h5>

                    <div class="mb-2">
                        <i class="h-icon icon-phone mr-2"></i>
                        <span>+44 329 82 23 444</span>
                    </div>

                    <div class="muted">
                        <small>
                            Home Made, Pennine South
                            <br/>
                            19 Hatfield
                            <br/>
                            London
                            <br/>
                            SE1 8DJ
                            <br/>
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-8 order-1 order-md-2 footer-menus pb-5 pb-md-0 ml-3 mr-1 m-md-0">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="label">Landlords</div>
                            <hr class="footer-menu-delimiter">

                            <ul class="list-unstyled footer-menu">
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Why us?</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Book a valuation</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Pricing</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Testimonials</strong></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="label">Tenants</div>
                            <hr class="footer-menu-delimiter">

                            <ul class="list-unstyled footer-menu">
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Property search</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Arrange a viewing</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Make an offer</strong></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="label">Company</div>
                            <hr class="footer-menu-delimiter">

                            <ul class="list-unstyled footer-menu">
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Team</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Contact us</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Investors</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>FAQ</strong></li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3"><strong>Legal</strong></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="label">Follow</div>
                            <hr class="footer-menu-delimiter">

                            <ul class="list-unstyled footer-menu">
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3">
                                    <i class="h-icon mr-2"></i>
                                    <strong>Trustpilot</strong>
                                </li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3">
                                    <i class="h-icon icon-facebook mr-2"></i>
                                    <strong>Facebook</strong>
                                </li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3">
                                    <i class="h-icon icon-instagram mr-2"></i>
                                    <strong>Instagram</strong>
                                </li>
                                <li class="mt-2 mb-2 mt-md-3 mb-md-3">
                                    <i class="h-icon icon-twitter mr-2"></i>
                                    <strong>Twitter</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright text-center pt-3 pb-3">
            <small>Copyrights C 2019 Homemade</small>
        </div>
    </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style scoped lang="scss">
    footer {
        background: #000;
        color: #fff;

        .footer-content {
            border-bottom: 1px solid rgba(255,255,255,0.2);
            padding-top: 50px;
            padding-bottom: 50px;

            h5 {
                color: #fff;
            }
            .muted {
                color: rgba(255,255,255,0.8);
            }

            .label {
                color: rgba(255,255,255,0.6);
                margin-bottom: .375rem;
            }

            .footer-menu .h-icon {
                font-size: .625rem;
            }

            .footer-menu-delimiter {
                border-color: #1ED9B8;
                margin: 0;
                width: 50px;
            }
        }
    }
</style>
