<template>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand">
                <img src="img/logo.png">
            </a>

            <ul class="navbar-nav ml-auto d-none d-lg-flex">
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="#"><strong>Landlords</strong></a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="#"><strong>Property search</strong></a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="#"><strong>Why us?</strong></a>
                </li>
                <li class="nav-item active ml-4 mr-4">
                    <button class="btn btn-outline-primary">
                        <strong>FREE valuation</strong>
                    </button>

                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link" href="#"><strong>Login</strong></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto d-lg-none">
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="#">
                        <i class="h-icon icon-search"></i>
                    </a>
                </li>
                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" href="#">
                        <i class="h-icon icon-hamburger"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
  export default {
    name: 'Nav'
  }
</script>

<style scoped lang="scss">

</style>