
.icon-bath:before { content: '\e801'; } /* '' */
.icon-bed:before { content: '\e802'; } /* '' */
.icon-call:before { content: '\e803'; } /* '' */
.icon-chair:before { content: '\e804'; } /* '' */
.icon-couch:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-floor-plan:before { content: '\e80a'; } /* '' */
.icon-hamburger:before { content: '\e80b'; } /* '' */
.icon-hat:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-person:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-photo:before { content: '\e810'; } /* '' */
.icon-process:before { content: '\e811'; } /* '' */
.icon-process-f:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-thumb-down:before { content: '\e815'; } /* '' */
.icon-thumb-up:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e819'; } /* '' */
.icon-vip:before { content: '\e81a'; } /* '' */
.icon-double-tick:before { content: '\e81b'; } /* '' */
.icon-tick:before { content: '\e81c'; } /* '' */
.icon-approval:before { content: '\e81d'; } /* '' */