@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?3548341');
  src: url('../font/fontello.eot?3548341#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?3548341') format('woff2'),
       url('../font/fontello.woff?3548341') format('woff'),
       url('../font/fontello.ttf?3548341') format('truetype'),
       url('../font/fontello.svg?3548341#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3548341#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bath:before { content: '\e801'; } /* '' */
.icon-bed:before { content: '\e802'; } /* '' */
.icon-call:before { content: '\e803'; } /* '' */
.icon-chair:before { content: '\e804'; } /* '' */
.icon-couch:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-floor-plan:before { content: '\e80a'; } /* '' */
.icon-hamburger:before { content: '\e80b'; } /* '' */
.icon-hat:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-person:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-photo:before { content: '\e810'; } /* '' */
.icon-process:before { content: '\e811'; } /* '' */
.icon-process-f:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-thumb-down:before { content: '\e815'; } /* '' */
.icon-thumb-up:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e819'; } /* '' */
.icon-vip:before { content: '\e81a'; } /* '' */
.icon-double-tick:before { content: '\e81b'; } /* '' */
.icon-tick:before { content: '\e81c'; } /* '' */
.icon-approval:before { content: '\e81d'; } /* '' */